<html>
    <head>
        <title>Movie Recommendation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/popularity.css') }}">
        </head>
    <body background-image: url({{ url_for('static', filename='img/webb.jpg') }})">
        <header>
         
            <div class="topnav">
             <img src="{{url_for('static', filename='img/pop.png')}}" alt="" height="100" width="80" vspace="0" hspace="4" align="left"/><br><br>
            <font face="Roboto","sans-serif", size="12" color="white" ><center> MOVIE ESCAPE</center> </font >
              <ul class="main-nav">
                  <li class="active"><a href="{{ url_for('index') }}">HOME</a></li>
                  <li><a href="{{ url_for('popularity') }}">POPULAR MOVIES</a></li>
                  <li><a href="{{ url_for('topr') }}">TOP VOTED</a></li>
                     
                </ul>
            </div> 
             <font face="Roboto","sans-serif", size="06" color="white" ><center> POPULAR MOVIES OF ALL TIMES</center></font >
      <img src="{{url_for('static', filename='img/popular.jpg')}}" alt=""height="300" width="480"  align="right"/><br><br>			  
       <img src="{{url_for('static', filename='img/collage11.jpg')}}" alt="" height="480" width="700" hspace="10" align="center"/><br><br>
            </header>
    </body>              
</html>		 